*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
/* html{
  scroll-behavior: smooth;
} */

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 0.5em;
}
caption {
  font-size: 1.5em;
  margin: 10px;
}